@import './mixin.scss';
$size_small:rem(12);
$size_middle:rem(22);
$size_default:rem(24);
$size_big:rem(26);
$size_30:rem(30);
$text_color: #787878; //文字灰色
$text_3: #333; //文字深灰色
$text_6: #666; //文字深灰色
$text_b6: #b6b6b6; //文字浅灰色
$text_b7: #777; //文字浅灰色
$sel_color:#c59c5a; //logo色
$text_red:#24d861; //绿色  ---涨
$text_green:#ff4d4d; //红色 ----跌
$text_red_opacity:rgba(36, 216, 97, .08); //绿色
$text_green_opacity:rgba(255, 77, 77, .08); //红色
$line_color:#f0f0f0; //线条颜色
$btn_color:#404040;
$text_yellow:#faa302;
$bg_color: #f0f0f0; //页面背景颜色
$bg_color_gray:#1d1d1f;
$border_color: #2f2e34;
$sel_color:#c59c5a; //屏幕切换颜色
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
em,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-weight: normal;
    box-sizing: border-box;
    font-size: $size_default;
    font-style: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    &:hover {
        outline: none;
    }
}

a,
a:visited {
    text-decoration: none;
    color: #333;
}

input:focus {
    outline: none;
    border: none;
    border-radius: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

// 禁止用户选中
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    background: rgba(0, 0, 0, 0);
    opacity: 1;
    -webkit-appearance: none;
}

input[disabled] {
    background: $line_color;
}

::-webkit-scrollbar {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    /*最简方式*/
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    /*兼容 IE*/
    zoom: 1;
}

//ios--input--只有下划线时，圆角去除
.input_radius {
    border-radius: 0;
}

.over_line {
    overflow: hidden;
    /** 超出隐藏 **/
    text-overflow: ellipsis;
    /** 当内联内容溢出块容器时，将溢出部分替换为（...） **/
    white-space: nowrap;
    /** 强制不换行 **/
}

.over_more_line {
    display: -webkit-box;
    /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical;
    /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2;
    /** 显示的行数 **/
    overflow: hidden;
    /** 隐藏超出的内容 **/
}

//使得数据加载出来之前不显示{{}}
[v-cloak] {
    display: none;
}


/*
*屏幕切换动效
.xxx-enter{ } 进入过渡的开始状态，元素被插入时生效，只应用一帧后立即删除；(运动的初始状态)
.xxx-enter-active{ } 进入过渡的结束状态，元素被插入时就生效，在 transition/animation 完成之后移除。这个类可以被用来定义过渡的过程时间，延迟和曲线函数。
.xxx-leave{ } 离开过渡的开始状态，元素被删除时触发，只应用一帧后立即删除；
.xxx-leave-active{ } 离开过渡的结束状态，元素被删除时生效，在 transition/animation 完成之后移除。这个类可以被用来定义过渡的过程时间，延迟和曲线函数。
*/

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    will-change: transform;
    transition: all 500ms;
    position: absolute;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}

.slide-hide-leave-active {
    animation: slideHide1 .4s ease-in forwards;
    position: absolute;
    opacity: 0;
    width: 100%;
}

.slide-hide-enter-active {
    animation: slideHide .4s ease-in .2s forwards;
    position: absolute;
    opacity: 0;
    width: 100%;
}

@keyframes slideHide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideHide1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slide-scale-leave-active {
    animation: slideScale1 .3s linear forwards;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide-scale-enter-active {
    animation: slideScale .3s linear .3s forwards;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

@keyframes slideScale {
    0% {
        transform: scale(0, 0);
        transform-origin: 50% 50%;
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

@keyframes slideScale1 {
    0% {
        transform: scale(1, 1);
        transform-origin: 50% 50%;
        opacity: 1;
    }
    100% {
        transform: scale(0, 0);
        transform-origin: 50% 50%;
        opacity: 0;
    }
}

.slide-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    overflow: hidden;
    .line {
        position: absolute;
        width: 5px;
        height: 100vh;
        background: white;
        left: 150vw;
        top: -100vh;
        animation: arctan 1s forwards;
    }
    .mask {
        position: absolute;
        width: 0;
        height: 0;
        border-width: 100vh 100vw 0 0;
        border-style: solid;
        border-color: #ff4d4d #2f2e34;
        opacity: 0;
    }
    .top-left {
        border-color: $sel_color transparent transparent transparent;
        animation: maskLeft 2s;
    }
    .bottom-right {
        border-color: transparent $sel_color transparent transparent;
        animation: maskRight 2s;
    }
}

@keyframes arctan {
    0% {
        left: 150vw;
        top: -100vh;
        display: block;
    }
    99% {
        left: 50vw;
        top: 0;
        display: block;
    }
    100% {
        display: none;
    }
}

@keyframes maskLeft {
    0% {
        left: 0;
        top: 0;
        opacity: 0;
    }
    49% {
        left: 0;
        top: 0;
        opacity: 0;
    }
    50% {
        left: 0;
        top: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
        left: -100vw;
        top: -100vh;
    }
}

@keyframes maskRight {
    0% {
        left: 0;
        top: 0;
        opacity: 0;
    }
    49% {
        left: 0;
        top: 0;
        opacity: 0;
    }
    50% {
        left: 0;
        top: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
        left: 100vw;
        top: 100vh;
    }
}

//btn
.btn {
    color: $btn_color;
    border: 1px solid $btn_color;
    border-radius: rem(10);
    background: rgba(0, 0, 0, 0);
    font-size: $size_middle;
    line-height: rem(54);
    padding: 0 rem(30);
    outline: none;
}

.btn[disabled] {
    background: #ebebeb;
    border: 1px solid #EBEBEB;
    color: white;
}

.btns_buy_sell {
    padding: rem(30);
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    button {
        color: white;
        line-height: rem(80);
        height: rem(80);
        width: 50%;
        border-radius: rem(10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(60) 0 rem(20);
        box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .1);
    }
    button:nth-last-of-type(1) {
        padding: 0 rem(20) 0 rem(60);
    }
    span,
    em {
        font-size: rem(30);
    }
    strong {
        font-size: rem(30);
        margin-top: rem(-5);
        font-weight: bold;
    }
    i {
        display: block;
        background: white;
        width: rem(30);
        height: rem(110);
        display: inline-block;
        left: 50%;
        margin-left: rem(-15);
        margin-top: rem(-10);
        position: absolute;
        transform: rotate(15deg);
    }
    b {
        position: absolute;
        padding: 0 rem(20);
        line-height: rem(30);
        font-size: $size_default;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: white;
        border-radius: rem(15);
        box-shadow: 0 2px 5px 0px rgba(0, 0, 0, .1);
        display: block;
        padding-top: rem(2);
    }
}

//switch
.switch_string {
    display: flex;
    justify-content: space-between;
    line-height: rem(56);
    em {
        color: $text_6;
        font-size: rem(28);
    }
    .swiching {
        background: $sel_color;
        line-height: rem(56);
        border-radius: rem(28);
        color: white;
        padding: 0 rem(5);
        position: relative;
        width: rem(160);
        i {
            display: inline-block;
            width: rem(42);
            height: rem(42);
            border-radius: 50%;
            background: white;
            position: absolute;
            top: rem(7);
            left: rem(7);
            animation: swich_left .3s ease-in-out forwards;
        }
        .swich_circle {
            animation: swich_right .3s ease-in-out forwards;
        }
        span {
            font-size: rem(28);
            padding: 0 rem(20);
        }
        .swich_type1 {
            padding-right: rem(60);
        }
        .swich_type2 {
            padding-left: rem(60);
        }
    }
}

@keyframes swich_right {
    from {
        left: rem(7);
    }
    to {
        left: rem(110);
    }
}

@keyframes swich_left {
    from {
        left: rem(110);
    }
    to {
        left: rem(7);
    }
}

//不能滑动
.switch_string.switch_boolean {
    .swiching {
        width: rem(104);
        height: rem(46);
        background: $sel_color;
        i {
            display: inline-block;
            width: rem(38);
            height: rem(38);
            top: rem(4);
            left: rem(4);
            box-shadow: 0 0 rem(10) 0 rgba(0, 0, 0, .3);
            animation: swich_left1 .3s ease-in-out forwards;
        }
    }
    .swiching_no {
        background: #eeeeee;
    }
    .swich_circle {
        animation: swich_right1 .3s ease-in-out forwards;
    }
}

@keyframes swich_right1 {
    from {
        left: rem(4);
    }
    to {
        left: rem(60);
    }
}

@keyframes swich_left1 {
    from {
        left: rem(60);
    }
    to {
        left: rem(4);
    }
}

.radio_group {
    text-align: left;
    label {
        line-height: rem(56);
        display: inline-block;
        padding-left: rem(10);
        color: #777;
        vertical-align: rem(-4);
    }
    .radio_type {
        width: rem(50);
        height: rem(50);
        appearance: none;
        position: relative;
        vertical-align: middle;
    }
    .radio_type:before {
        content: '';
        width: rem(40);
        height: rem(40);
        border: 1px solid #7d7d7d;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    .radio_type:checked:before {
        content: '';
        width: rem(40);
        height: rem(40);
        border: 1px solid $sel_color;
        background: $sel_color;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
    }
    .radio_type:checked:after {
        content: '';
        width: rem(20);
        height: rem(10);
        border: 2px solid white;
        border-top: transparent;
        border-right: transparent;
        text-align: center;
        display: block;
        position: absolute;
        top: rem(12);
        left: rem(10);
        vertical-align: middle;
        transform: rotate(-45deg);
        vertical-align: middle;
    }
    .radio_type:checked+label {
        color: $sel_color;
    }
}